
    <div class="row" style="">

        <div class="col-md-4">
            <div class="page-header">
                <h3> Define a fiscal year</h3>
            </div>
            <div class="page-header" ng-show="form_failure || form_success " style="height:52px;">
                <div class="alert alert-success" ng-show="form_success">
                    <strong>{{form_success}}</strong>
                </div>
                <div class="alert alert-danger" ng-show="form_failure">
                    <strong>{{form_failure}}</strong>
                </div>
            </div>
            <form role="form" name="post_form">

                <div class="form-group">
                    <label for="fiscalTitle">
                        Fiscal Title:
                    </label>
                    <input type="text" id="fiscalTitle" class="form-control" ng-model="Exercice.libelleExercice" name="libelle" required>
                    <div class="help-block">
                        <span class="label label-danger" ng-show="post_form.libelle.$error.required">The title is required</span>
                    </div>
                </div>
                <div class="form-group" style="margin-top:20px;">

                    <label for="Opening" style="float:left;line-height:2.5;">
                        Opening date:
                    </label>
                    <input type="date" id="Opening" class="form-control" ng-model="Exercice.dateOuvertureExercice" name="Opening" required>
                    <div class="help-block">
                        <span class="label label-danger" ng-show="post_form.Opening.$error.required">The opening date must be chosen</span>
                    </div>
                </div>
                <div class="form-group">

                    <label for="Closure">
                        Closure date:
                    </label>
                    <input type="date" id="Closure" class="form-control" ng-model="Exercice.dateFinExercice" name="Closure" required>
                    <div class="help-block">
                        <span class="label label-danger" ng-show="post_form.Closure.$error.required">The closure date must be chosen</span>
                    </div>
                </div>
                <center>
                    <button type="submit" class="btn btn-default" ng-disabled="post_form.$invalid" ng-click="vm.AddYear(Exercice)">
                        {{buttonText}}
                    </button>
                    <button type="reset" class="btn btn-default" ng-click="vm.flush()">
                        Cancel
                    </button>
                </center>
                <div class="form-group"></div>
            </form>
        </div>

        <div class="col-md-8">
            <div class="alert alert-danger" id="errorDiv" ng-show="error" style="margin-top:10px;">
               
                <strong>{{error}}</strong> 
            </div>
            <kendo-grid id="kendoGrid" k-options="vm.gridOptions" style="height:500px;">
            </kendo-grid>
        </div>

    </div>

